.checkout{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #ccc;
    margin-top: 20px;
}
.checkout div{
    border: 1px solid rgb(22, 22, 222);
    margin-top: 5px;
    border-radius: 15px;
}
.section{
    font-size: 30px;
    display: flex;
    flex-direction: column;
    font-weight: bold
}

